.openMenuButton {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 10px;
    margin-right: 5px;
}

.openMenuButtonHidden {
    display: none;
}

.iconContainer {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.deleteIcon {
    fill: rgb(255, 50, 50);
}

.menuContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.3);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hiddenMenuContainer {
    display: none;
}

.contentContainer {
    height: fit-content;
    padding-bottom: 20px;
    width: 300px;
    background-color: rgb(24, 24, 29);
    border-radius: 12px;
    border: 1px solid rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 30px)
}

.topTitle {
    margin: 10px;
    margin-left: 0;
    font-size: 20px;
    font-family: "Oswald";
    color: rgb(230, 230, 230);
}

.closeButton {
    border-radius: 12px;
    border: none;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    margin-right: 0;
    background-color: rgb(25, 77, 221);
}

.closeButton:hover {
    background-color: rgb(29, 135, 255);
}

.closeButtonIcon {
    fill: rgb(230, 230, 230);
}

.notificationText {
    margin: 0;
    padding: 0;
    color: rgb(255, 50, 50);
    font-family: "Oswald";
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.deleteButton {
    background-color: rgb(25, 77, 221);
    border-radius: 10px;
    height: 50px;
    margin-top: 20px;
    width: calc(100% - 30px);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(230, 230, 230);
    font-family: "Oswald";
    font-size: 16px;
}

.deleteButton:hover {
    background-color: rgb(29, 135, 255);
}

@media only screen and (max-width: 340px) {
    .contentContainer {
        width: 260px;
        top: calc(50% - 100px);
        left: calc(50% - 130px);
    }
}