.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-left: 20px;
}

.logoTextContainer {
    font-family: "Unbounded";
    font-size: 40px;
    margin: 0;
}

.logoText1 {
    color: rgb(230, 230, 230);
}

.logoText2 {
    color: rgb(29, 135, 255);
}