.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-radius: 50px;
    z-index: 3;
}

.openMenuButton {
    background: none;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.menu {
    position: absolute;
    padding: 15px;
    background-color: rgb(24, 24, 29);
    border-radius: 12px;
    border: 1px solid rgb(45, 45, 45);
    top: 80px;
    border-radius: 10px;
    height: fit-content;
    width: 200px;
    z-index: 2;
}

.menuHidden {
    display: none;
}

.username {
    margin: 0px;
    font-family: "Oswald";
    font-size: 20px;
    color: rgb(220, 220, 220);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userIconContainer {
    position: relative;
    background-color: #222226;
    border-radius: 100px;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userIcon {
    fill: #7E7E88;
}

.userIcon:hover {
    fill: rgb(220, 220, 220);
}

.navigateToUserSettingsButton {
    border: none;
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgb(30, 31, 36);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigateToUserSettingsButton:hover {
    background-color: #222226;
}

.userMenuButtonText {
    font-family: "Oswald";
    font-size: 17px;
    margin: 0;
    color: rgb(230, 230, 230);
    margin-right: 5px;
}

.userMenuButtonIcon {
    fill: rgb(230, 230, 230);
    width: 23px;
    height: 23px;
    margin-bottom: -2px;
}

.logoutButton {
    background-color: rgb(25, 77, 221);
    border-radius: 10px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(230, 230, 230);
    font-family: "Oswald";
    height: 50px;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoutButton:hover {
    background-color: rgb(29, 135, 255);
}

@media only screen and (max-width: 650px) {
    .username {
        display: none;
    }
}