.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-radius: 50px;
    z-index: 3;
}

.openMenuButton {
    background: none;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.menu {
    position: absolute;
    padding: 15px;
    background-color: rgb(24, 24, 29);
    border-radius: 12px;
    border: 1px solid rgb(45, 45, 45);
    top: 80px;
    border-radius: 10px;
    height: fit-content;
    width: 200px;
    z-index: 2;
}

.menuHidden {
    display: none;
}

.username {
    margin: 0px;
    font-family: "Oswald";
    font-size: 20px;
    color: rgb(220, 220, 220);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userIconContainer {
    position: relative;
    background-color: #222226;
    border-radius: 100px;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.userIcon {
    fill: #7E7E88;
}

.userIcon:hover {
    fill: rgb(220, 220, 220);
}

.navigateToUserSettingsButton {
    border: none;
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgb(30, 31, 36);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigateToUserSettingsButton:hover {
    background-color: #222226;
}

.userMenuButtonText {
    font-family: "Oswald";
    font-size: 17px;
    margin: 0;
    color: rgb(230, 230, 230);
    margin-right: 5px;
}

.userMenuButtonIcon {
    fill: rgb(230, 230, 230);
    width: 23px;
    height: 23px;
    margin-bottom: -2px;
}

.logoutButton {
    background-color: rgb(25, 77, 221);
    border-radius: 10px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(230, 230, 230);
    font-family: "Oswald";
    height: 50px;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoutButton:hover {
    background-color: rgb(29, 135, 255);
}

@media only screen and (max-width: 700px) {
    .username {
        font-size: 25px;
        max-width: 260px;
    }

    .openMenuButton {
        height: 45px;
        width: 45px;
    }

    .menu {
        top: 80px;
    }
}

@media only screen and (max-width: 650px) {
    .username {
        font-size: 22px;
        max-width: 220px;
    }

    .openMenuButton {
        height: 43px;
        width: 43px;
    }

    .menu {
        top: 70px;
    }
}

@media only screen and (max-width: 575px) {
    .userIconContainer {
        height: 40px;
        width: 40px;
    }

    .username {
        font-size: 20px;
        max-width: 200px;
    }

    .openMenuButton {
        height: 43px;
        width: 43px;
    }

    .menu {
        top: 70px;
    }
}

@media only screen and (max-width: 500px) {
    .username {
        font-size: 20px;
        max-width: 180px;
    }

    .openMenuButton {
        height: 38px;
        width: 38px;
    }

    .menu {
        right: calc(50% - 116px);
        top: 65px;
    }
}

@media only screen and (max-width: 450px) {
    .username {
        font-size: 16px;
        max-width: 120px;
    }

    .openMenuButton {
        height: 34px;
        width: 34px;
    }

    .menu {
        right: calc(50% - 116px);
        top: 60px;
    }
}

@media only screen and (max-width: 390px) {
    .userIconContainer {
        height: 37px;
        width: 37px;
    }

    .username {
        font-size: 16px;
        max-width: 105px;
    }

    .openMenuButton {
        height: 34px;
        width: 34px;
    }

    .menu {
        right: calc(50% - 116px);
        top: 55px;
    }
}

@media only screen and (max-width: 350px) {
    .username {
        font-size: 14px;
        max-width: 95px;
    }

    .openMenuButton {
        height: 30px;
        width: 30px;
    }

    .menu {
        right: calc(50% - 116px);
        top: 50px;
    }
}

@media only screen and (max-width: 320px) {
    .username {
        font-size: 14px;
        max-width: 70px;
    }

    .openMenuButton {
        height: 30px;
        width: 30px;
    }

    .menu {
        right: calc(50% - 116px);
        top: 45px;
    }
}