.mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoTextContainer {
    font-family: "Unbounded";
    font-size: 40px;
    margin: 0;
}

.logoText1 {
    color: rgb(230, 230, 230);
}

.logoText2 {
    color: rgb(29, 135, 255);
}

.headerContainer {
    width: 100%;
}

.headerText {
    font-size: 28px;
    color: rgb(230, 230, 230);
    margin: 0;
    font-family: 'Oswald';
    text-align: center;
}

.headerText2 {
    font-size: 18px;
    color: rgb(120, 120, 120);
    margin: 0;
    font-family: 'Oswald';
    text-align: center;
}

.loginContainer {
    width: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 100%;
}

.formContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification {
    color: rgb(255, 50, 50);
    font-family: 'Oswald';
    margin: 25px 20px 0 20px;
    font-size: 16px;
    text-align: center;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField {
    width: calc(304px - 24px);
    padding: 13px;
    font-size: 17px;
    font-family: 'Oswald';
    border-radius: 12px;
    border: 2px solid #333849;
    outline: none;
    height: 20px;
    margin: 15px 20px 0px 20px;
    background-color: #1f222c;
    caret-color: rgb(175, 175, 175);
    color: rgb(175, 175, 175);
}

.inputField:hover {
    border: 2px solid rgb(175, 175, 175);
}

.submitButton {
    width: 310px;
    padding: 12px;
    font-size: 17px;
    font-family: 'Oswald';
    background-color: rgb(25, 77, 221);
    color: rgb(220, 220, 220);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 25px;
}

.submitButton:hover {
    background-color: rgb(29, 135, 255);
}

.toRegistrationContainer {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    border: none;
    font-size: 16px;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(120, 120, 120);
}

.toRegistrationButton {
    margin: 0;
    margin-left: 4px;
    padding: 0;
    font-family: 'Oswald';
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(25, 77, 221);
}