.mainContainer {
    height: calc(100% - 15px);
    width: calc(100% - 30px);
    margin: 0px 15px 15px 15px;
}

.chatChatsSwitchButton {
    display: none;
}

.arrowLeftIcon {
    display: none;
}

.middleContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 95px);
}

@media only screen and (max-width: 1100px) {
    .chatChatsSwitchButton[is-shown="true"] {
        height: 30px;
        width: 30px;
        margin-bottom: 10px;
        border-radius: 12px;
        background-color: rgb(25, 77, 221);
        border-radius: 10px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: rgb(230, 230, 230);
        font-family: "Oswald";
        font-size: 17px;
    }

    .arrowLeftIcon {
        display: inline-block;
        fill: rgb(230, 230, 230);
        height: 20px;
        width: 20px;
    }

    .middleContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: calc(100% - 135px);
    }
}