.mainContainer {
    height: calc(100% - 15px);
    width: calc(100% - 30px);
    margin: 0px 15px 15px 15px;
}

.middleContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 95px);
}

/* @media only screen and (max-width: 700px) {
    .middleContainer {
        height: calc(100% - 100px);
    }
}

@media only screen and (max-width: 650px) {
    .middleContainer {
        height: calc(100% - 90px);
    }
}

@media only screen and (max-width: 575px) {
    .middleContainer {
        height: calc(100% - 90px);
    }
}

@media only screen and (max-width: 500px) {
    .middleContainer {
        height: calc(100% - 85px);
    }
}

@media only screen and (max-width: 450px) {
    .middleContainer {
        height: calc(100% - 80px);
    }
}

@media only screen and (max-width: 390px) {
    .middleContainer {
        height: calc(100% - 75px);
    }
}

@media only screen and (max-width: 350px) {
    .middleContainer {
        height: calc(100% - 70px);
    }
}

@media only screen and (max-width: 320px) {
    .middleContainer {
        height: calc(100% - 65px);
    }
} */