.mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoTextContainer {
    font-family: "Unbounded";
    font-size: 40px;
    margin: 0;
}

.logoText1 {
    color: rgb(230, 230, 230);
}

.logoText2 {
    color: rgb(29, 135, 255);
}

.headerContainer {
    width: 100%;
}

.headerText {
    font-size: 28px;
    color: rgb(230, 230, 230);
    margin: 0;
    font-family: 'Oswald';
    text-align: center;
}

.headerText2 {
    font-size: 18px;
    color: rgb(120, 120, 120);
    margin: 0;
    font-family: 'Oswald';
    text-align: center;
}

.registerContainer {
    width: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 100%;
}

.formContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guideText {
    font-family: 'Oswald';
    color: rgb(180, 180, 180);
    margin: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

.notification {
    color: rgb(255, 50, 50);
    font-family: 'Oswald';
    margin: 15px 20px 0 20px;
    font-size: 16px;
    text-align: center;
}

.notificationHidden {
    margin: 0;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField {
    width: calc(340px - 24px);
    padding: 13px;
    font-size: 17px;
    font-family: 'Oswald';
    border-radius: 12px;
    border: 2px solid #333849;
    outline: none;
    height: 40px;
    margin: 15px 20px 0px 20px;
    background-color: #1f222c;
    caret-color: rgb(175, 175, 175);
    color: rgb(175, 175, 175);
}

.inputField:hover {
    border: 2px solid rgb(175, 175, 175);
}

.submitButton {
    width: 350px;
    padding: 14px;
    font-size: 17px;
    font-family: 'Oswald';
    background-color: rgb(25, 77, 221);
    color: rgb(220, 220, 220);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: rgb(29, 135, 255);
}

.toLoginContainer {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(120, 120, 120);
}

.toLoginButton {
    margin: 0;
    margin-left: 4px;
    padding: 0;
    font-family: 'Oswald';
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(25, 77, 221);
}

@media screen and (max-width: 1600px) {
    .logoImg {
        width: 320px;
    }

    .registerContainer {
        width: 300px;
    }

    .headerContainer {
        padding: 10px;
    }

    .headerText {
        font-size: 21px;
    }

    .notification {
        margin: 15px 12px 0 12px;
        font-size: 12px;
    }

    .inputField {
        width: calc(255px - 20px);
        padding: 10px;
        border-radius: 12px;
        height: 17px;
    }

    .submitButton {
        margin-top: 20px;
        width: 262px;
        padding: 10px;
        font-size: 12px;
        border-radius: 12px;
    }
}

@media screen and (max-width: 800px) {
    .logoImg {
        width: 260px;
    }

    .registerContainer {
        height: fit-content;
        width: 240px;
    }

    .headerContainer {
        padding: 8px;
    }

    .headerText {
        font-size: 17px;
    }

    .notification {
        margin: 12px 10px 0 10px;
        font-size: 10px;
    }

    .inputField {
        width: calc(201px - 16px);
        padding: 8px;
        font-size: 10px;
        border-radius: 12px;
        height: 13.5px;
        margin: 10px 13px 0px 13px;
    }

    .submitButton {
        margin-top: 15px;
        width: 210px;
        padding: 8px;
        font-size: 10px;
        border-radius: 12px;
    }
}