.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Old Edge / IE */
}

.mainContainer::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}