.mainContainer {
    display: inline-block;
}

.hiddenMainContainer {
    display: none;
}

.openMenuButton {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
}

.groupIcon {
    fill: rgb(160, 160, 160);
}

.groupIcon:hover {
    fill: rgb(230, 230, 230);
}

.menuContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hiddenMenuContainer {
    display: none;
}

.contentContainer {
    position: absolute;
    height: 400px;
    padding-bottom: 20px;
    width: 300px;
    background-color: rgb(24, 24, 29);
    border-radius: 12px;
    border: 1px solid rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 30px)
}

.topTitle {
    margin: 10px;
    margin-left: 0;
    font-size: 20px;
    font-family: "Oswald";
    color: rgb(230, 230, 230);
}

.closeButton {
    border-radius: 12px;
    border: none;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    margin-right: 0;
    background-color: rgb(25, 77, 221);
}

.closeButton:hover {
    background-color: rgb(29, 135, 255);
}

.closeIcon {
    fill: rgb(230, 230, 230);
}

/* @media only screen and (max-width: 340px) {
    .contentContainer {
        width: 260px;
        top: calc(50% - 200px);
        left: calc(50% - 130px);
    }
} */