.mainContainer {
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.userInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.userImageContainer {
    position: relative;
    background-color: #222226;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.userNoImageText {
    margin: 0;
    color: #7E7E88;
    font-family: "Oswald";
}

.onlineStatusCircle[user-online="true"] {
    position: absolute;
    background-color: rgb(0, 176, 0);
    border: 2px solid rgb(220, 220, 220);
    border-radius: 100px;
    height: 12px;
    width: 12px;
    right: -0px;
    bottom: -0px;
}

.onlineStatusCircle[user-online="false"] {
    position: absolute;
    background-color: rgb(120, 120, 120);
    border: 2px solid rgb(220, 220, 220);
    border-radius: 100px;
    height: 12px;
    width: 12px;
    right: -0px;
    bottom: -0px;
}

.creatorText {
    margin: 0;
    font-family: "Oswald";
    font-size: 15px;
    color: rgb(119, 119, 119);
}

.username {
    display: inline-block;
    font-family: "Oswald";
    margin: 0;
    width: 140px;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(220, 220, 220);
}

@media only screen and (max-width: 340px) {
    .username {
        width: 120px;
    }
}