.mainContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainContainer:hover {
    background-color: rgb(32, 32, 32);
}

.mainContainer[is-selected="true"] {
    background-color: rgb(32, 32, 32);
}

.chatImageContainer {
    position: relative;
    background-color: #222226;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.chatNoImageText {
    margin: 0;
    color: #7E7E88;
    font-family: "Oswald";
}

.onlineStatusCircle[user-online="true"] {
    position: absolute;
    background-color: rgb(0, 176, 0);
    border: 2px solid rgb(220, 220, 220);
    border-radius: 100px;
    height: 12px;
    width: 12px;
    right: -0px;
    bottom: -0px;
}

.onlineStatusCircle[user-online="false"] {
    position: absolute;
    background-color: rgb(120, 120, 120);
    border: 2px solid rgb(220, 220, 220);
    border-radius: 100px;
    height: 12px;
    width: 12px;
    right: -0px;
    bottom: -0px;
}

.typeAndTitleTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.titleText {
    font-family: 'Oswald';
    font-size: 17px;
    color: rgb(220, 220, 220);
    margin: 0;
}

.typeText {
    font-family: 'Oswald';
    font-size: 15px;
    margin: 0;
    color: rgb(160, 160, 160);
    width: 100%;
}

.unreadMessagesAmountContainer {
    position: absolute;
    background-color: rgb(255, 50, 50);
    border-radius: 100px;
    height: 20px;
    width: 20px;
    left: -3px;
    top: -3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.unreadMessagesAmountText {
    color: white;
    font-family: "Oswald";
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

@media only screen and (max-width: 450px) {
    .titleText {
        max-width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 400px) {
    .titleText {
        max-width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 350px) {
    .titleText {
        max-width: 175px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 300px) {
    .titleText {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}