.mainContainer {
    width: 20%;
    height: calc(100% - 30px);
    padding: 15px;
    background-color: rgb(24, 24, 29);
    border-radius: 12px;
    border: 1px solid rgb(45, 45, 45);
}

.addChatButton {
    background-color: rgb(25, 77, 221);
    border-radius: 10px;
    height: 50px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(230, 230, 230);
    font-family: "Oswald";
    font-size: 17px;
}

.addChatButton:hover {
    background-color: rgb(29, 135, 255);
}

.addChatButtonImg {
    fill: rgb(230, 230, 230);
    height: 30px;
    width: 30px;
}

@media only screen and (max-width: 1100px) {
    .mainContainer {
        width: 100%;
    }

    .mainContainer[is-shown="false"] {
        display: none;
    }
}