.chatListMainContainer {
    height: calc(100% - 60px);
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Old Edge / IE */
}

.mainContainer::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

/* add responsiveness for mobile. (basicly a button to open chats fullscreen) */