.mainContainer {
    display: inline-block;
}

.hiddenMainContainer {
    display: none;
}

.openMenuButton {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
}

.addIcon {
    fill: rgb(160, 160, 160);
}

.addIcon:hover {
    fill: rgb(230, 230, 230);
}

.menuContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hiddenMenuContainer {
    display: none;
}

.contentContainer {
    position: absolute;
    height: fit-content;
    padding-bottom: 20px;
    width: 300px;
    background-color: rgb(24, 24, 29);
    border: 1px solid rgb(45, 45, 45);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px)
}

.topTitle {
    margin: 10px;
    margin-left: 0;
    font-size: 20px;
    font-family: "Oswald";
    color: rgb(230, 230, 230);
}

.closeButton {
    border-radius: 12px;
    border: none;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    margin-right: 0;
    background-color: rgb(25, 77, 221);
}

.closeButton:hover {
    background-color: rgb(29, 135, 255);
}

.closeIcon {
    fill: rgb(230, 230, 230);
}

.notificationText {
    margin: 0;
    padding: 0;
    color: rgb(120, 120, 120);
    font-family: "Oswald";
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.notificationErrorText {
    margin: 0;
    padding: 0;
    color: rgb(255, 50, 50);
    font-family: "Oswald";
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.addUserForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField {
    width: calc(90% - 26px);
    padding: 13px;
    font-size: 17px;
    font-family: 'Oswald';
    border-radius: 12px;
    border: 2px solid #333849;
    outline: none;
    height: 20px;
    margin: 20px 0px 0px 0px;
    background-color: #1f222c;
    caret-color: rgb(175, 175, 175);
    color: rgb(175, 175, 175);
}

.inputField:hover {
    border: 2px solid rgb(175, 175, 175);
}

.addButton {
    background-color: rgb(25, 77, 221);
    border-radius: 10px;
    height: 50px;
    margin-top: 20px;
    width: calc(100% - 30px);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(230, 230, 230);
    font-family: "Oswald";
    font-size: 16px;
}

.addButton:hover {
    background-color: rgb(29, 135, 255);
}

/* @media only screen and (max-width: 340px) {
    .contentContainer {
        width: 260px;
        top: calc(50% - 100px);
        left: calc(50% - 130px);
    }
} */