.openMenuButton {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.dotsIcon {
    fill: rgb(160, 160, 160);
}

.dotsIcon:hover {
    fill: rgb(230, 230, 230);
}

.menuContainer {
    position: absolute;
    width: 300px;
    right: 20px;
    margin-top: 5px;
    padding: 15px;
    background-color: rgb(24, 24, 29);
    border-radius: 12px;
    border: 1px solid rgb(45, 45, 45);
}

.hiddenMenuContainer {
    display: none;
}

.contentContainer {
    width: 100%;
}

/* @media only screen and (max-width: 400px) {
    .menuContainer {
        width: 258px;
        right: 0;
    }
} */