@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(20, 20, 20);
}

#root {
  height: 100%;
  width: 100%;
}