.emptyContainer {
    height: 67px;
}

.mainContainer {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: rgb(24, 24, 29);
    border-radius: 12px;
    border: 1px solid rgb(45, 45, 45);
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chatInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
}

.chatImageContainer {
    width: 45px;
    height: 45px;
    background-color: #222226;
    margin-right: 5px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatNoImageText {
    margin: 0;
    color: #7E7E88;
    font-family: "Oswald";
}

.chatTitleText {
    margin: 0;
    font-family: "Oswald";
    font-size: 17px;
    color: rgb(220, 220, 220);
}

.chatTypeText {
    margin: 0;
    font-family: "Oswald";
    font-size: 15px;
    color: rgb(160, 160, 160);
}

.toChatListButton {
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
    border: 2px solid rgb(230, 230, 230);
}

.toChatListButton:hover {
    background-color: rgb(240, 240, 240);
}

.arrowLeftIcon {
    fill: rgb(20, 20, 20);
}

.leftContainer {
    display: flex;
    flex-direction: row;
    gap: 0px 15px;
}

.rightContainer {
    display: flex;
    flex-direction: row;
    gap: 15px 0px;
}