.mainContainer {
    width: calc(100% - 30px);
    margin-left: 15px;
    height: calc(100%);
}

.createMessageFormContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.notification {
    display: none;
}

.notificationShown {
    color: rgb(255, 50, 50);
    font-family: 'Oswald';
    margin-top: 10px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    height: 20px;
}

.messageInput {
    outline: none;
    border: 2px solid #333849;
    width: calc(100% - 40px);
    height: 30px;
    padding: 10px 10px 10px 20px;
    font-size: 17px;
    font-family: "Oswald";
    background-color: #1f222c;
    caret-color: rgb(175, 175, 175);
    color: rgb(175, 175, 175);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.messageInput:hover {
    border: 2px solid rgb(175, 175, 175);
}

.sendMessageButton {
    padding: 0px 15px 0px 15px;
    height: 54px;
    font-size: 17px;
    font-family: 'Oswald';
    background-color: rgb(25, 77, 221);
    color: white;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.sendMessageButton:hover {
    background-color: rgb(29, 135, 255);
}

@media only screen and (max-width: 1100px) {
    .mainContainer[is-shown="false"] {
        display: none;
    }

    .mainContainer {
        width: 100%;
        margin-left: 0;
    }
}