.mainContainer {
    height: calc(100% - 126px);
    width: 100%;
}

.noMessagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.noMessagesText {
    padding: 30px 40px 30px 40px;
    font-family: "Oswald";
    font-size: 20px;
    color: rgb(230, 230, 230);
    padding: 15px;
    background-color: rgb(24, 24, 29);
    border-radius: 12px;
    border: 1px solid rgb(45, 45, 45);
}

.messageListContainer {
    height: calc(100% - 32px);
    padding: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Old Edge / IE */
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
}

.messageListContainer::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}


.messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.userMessageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.messageTopContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usernameAndTimestampContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userUsernameAndTimestampContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.usernameText {
    font-family: "Oswald";
    font-size: 17px;
    color: rgb(220, 220, 220);
    margin: 0;
    margin-right: 5px;
    font-weight: bold;
}

.userUsernameText {
    font-family: "Oswald";
    font-size: 17px;
    margin: 0;
    margin-left: 5px;
    color: rgb(220, 220, 220);
}

.timestamp {
    font-family: "Oswald";
    margin: 10px 0px 5px 0px;
    font-size: 15px;
    color: rgb(160, 160, 160);
    margin: 0;
}

.messageText {
    background: rgb(56, 119, 255);
    background: linear-gradient(300deg, rgba(56, 119, 255, 1) 35%, rgba(56, 145, 255, 1) 100%);
    width: fit-content;
    color: rgb(250, 250, 250);
    font-family: "Oswald";
    word-wrap: break-word;
    max-width: calc(100% - 15px);
    max-width: 90%;
    padding: 8px;
    margin: 5px 0px 10px 0px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.userMessageText {
    background-color: #1f222c;
    width: fit-content;
    color: rgb(220, 220, 220);
    font-family: "Oswald";
    word-wrap: break-word;
    max-width: calc(100% - 15px);
    max-width: 90%;
    padding: 8px;
    margin: 5px 0px 10px 0px;
    border-radius: 12px;
    font-size: 16px;
    border: 2px solid #333849;
}

.messageText>span>a {
    color: rgb(220, 220, 220);
}

.userMessageText>span>a {
    color: rgb(220, 220, 220);
}

.newMessagesInfoText {
    font-family: "Oswald";
    margin: 0;
    text-align: center;
    color: rgb(80, 80, 80);
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    .usernameText {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .userUsernameText {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 350px) {
    .usernameText {
        max-width: 105px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .userUsernameText {
        max-width: 105px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 300px) {
    .usernameText {
        max-width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .userUsernameText {
        max-width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}